<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NPR RSS Feed</title>
	<link rel="stylesheet" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
	<h1>NPR RSS Feed - {{ feed_title }}</h1>
	{% for item in parsed_list %}

		<div class="item">

			<h2>{{ item['title'] }}</h2>

			{% if not item['author'] == 'None' %}
				<p>By {{ item['author'] }}</p>
			{% endif %}

			<p>{{ item['description'] }} </br>
			<a href="{{ item['link'] }}" target="_blank">>> Read more</a></p>
			<p>Posted on {{ item['pub_date'] }}</p>
		</div>
		
	{% endfor %}
	</div>
</body>
</html>